@charset "UTF-8";

body {
    background-color: #FFF;
    font-family: '小塚ゴシック Pro', 'Kozuka Gothic Pro', sans-serif;
    letter-spacing: 3px;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.my_btn {
    position: absolute;
    top: 20px;
    right: 5vw;
}

.contents {
    background-color: #FED406;
    padding-bottom: 9rem;
    border-right: 0.8vw solid #FFF;
    border-left: 0.8vw solid #FFF;
}

@media(max-width: 991px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .my_btn {
        position: absolute;
        top: 3vh;
        right: 5vw;
    }

    .contents {
        background-color: #FED406;
        padding-bottom: 6rem;
        border-right: 2.3vw solid #FFF;
        border-left: 2.3vw solid #FFF;
    }
}

/* スライダー */

.slide_items img,
.slide_items_2 img {
    display: block;
    width: 95%;
    object-fit: cover;
    border: 4px solid #888888;
    border-image: linear-gradient(to right, #888888 0%, #ffffff 100%);
    border-image-slice: 1;
}

.h_blue {
    background-image: url(../img/h_blue_bg.png);
    background-position: center;
}

.h_blue p {
    font-size: 16px;
    font-weight: 600;
    padding-top: 35px;
    margin-bottom: 0px;
    color: white;
}

.h_blue h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 60px;
    color: white;
}

/* Q&A */

.qa {
    background-color: #DCF6FF;
}

/* footer */

footer {
    background-color: #00A0E9;
    color: #FFFFFF;
}

.mybg_y {
    background-color: #FED406;
    color: #000;
}


@media(min-width:) {
        {}
}