@charset "UTF-8";

body {
    background-color: #FFF8DB;
    font-family: '小塚ゴシック Pro', 'Kozuka Gothic Pro', sans-serif;
    letter-spacing: 3px;
}

.pc {
    max-width: 1280px;
    border-right: 1px solid #1AA0EA;
    border-left: 1px solid #1AA0EA;
    display: block;
    margin: 0 auto;
}

.sp {
    display: none;
}

/* ナビゲーションメニュー */

header {
    background-color: #FED406;
}

.my_nav_logo {
    background-image: url(../img/pc_logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media(max-width: 991px) {
    .my_nav_logo {
        background-image: url(../img/sp_logo.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 50px !important;
    }
}

.contents {
    background-color: #FED406;
    padding-bottom: 9rem;
    border-right: 0.8vw solid #FFF;
    border-left: 0.8vw solid #FFF;
}

@media(max-width: 991px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .contents {
        background-color: #FED406;
        padding-bottom: 6rem;
        border-right: 2.3vw solid #FFF;
        border-left: 2.3vw solid #FFF;
    }
}

/* スライダー */

.contents {
    max-width: 1280px;
    border-right: 1px solid #1AA0EA;
    border-left: 1px solid #1AA0EA;
    margin: 0 auto;
}

.slide_items img,
.slide_items_2 img {
    display: block;
    width: 95%;
    object-fit: cover;
}

.h_blue {
    background-image: url(../img/h_blue_bg.png);
    background-position: center;
}

.h_blue p {
    font-size: 16px;
    font-weight: 600;
    padding-top: 35px;
    margin-bottom: 0px;
    color: white;
}

.h_blue h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 60px;
    color: white;
}

/* Q&A */

.qa {
    background-color: #DCF6FF;
    max-width: 1280px;
    border-right: 1px solid #1AA0EA;
    border-left: 1px solid #1AA0EA;
    margin: 0 auto;
}

.contact {
    max-width: 1280px;
    border-right: 1px solid #1AA0EA;
    border-left: 1px solid #1AA0EA;
    margin: 0 auto;
}

/* footer */

footer {
    background-color: #00A0E9;
    color: #FFFFFF;
    max-width: 1280px;
    border-right: 1px solid #1AA0EA;
    border-left: 1px solid #1AA0EA;
    margin: 0 auto;
}

.mybg_y {
    background-color: #FED406;
    color: #000;
}


@media(min-width:) {
        {}
}